<!DOCTYPE html>
<html>
<head>
    <title>Student Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Student Management System</h1>
    </div>
    <div class="container">
        <form id="student-form">
            <div class="form-group">
                <label for="student-id">Student ID:</label>
                <input type="text" id="student_id" required>
            </div>
            <div class="form-group">
                <label for="first-name">First Name:</label>
                <input type="text" id="first_name" required>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name:</label>
                <input type="text" id="last_name" required>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" required>
            </div>
            <div class="form-group">
                <label for="amount-due">Amount Due:</label>
                <input type="number" id="amount_due" step="0.01" required>
            </div>
            <div class="button-container">
                <button type="button" class="btn btn-primary" onclick="addStudent()">Add Student</button>
                <button type="button" class="btn btn-success" onclick="getStudent()">View Student</button>
                <button type="button" class="btn btn-warning" onclick="updateStudent()">Update Student</button>
                <button type="button" class="btn btn-danger" onclick="deleteStudent()">Delete Student</button>
                <button type="button" class="btn btn-success" onclick="getallStudents()">View All Students</button>
            </div>
        </form>
        <div id="response"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
